:root {
    --primary-color: #1D5888;
    --secondary-color: #906387;
    --dark-color: #292929;
    --white-color: #DFF3E4;
}

.theme-color {
    background-color: #24A38E;
}

.action {
    background-color: var(--secondary-color);
}

.action:hover {
    background-color: #54C1A9;
    border: 2px solid #1D7C6B;
    box-shadow: 0 0 10px rgba(36, 163, 142, 0.35);
}

.devicons {
    font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

footer {
    padding-right: 1rem;
}

    footer .social > a {
        color: var(--white-color);
        opacity: 0.75;
    }

        footer .social > a:hover {
            opacity: 0.9;
            color: var(--secondary-color);
        }

main > .container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.checklist > li i {
    color: var(--secondary-color);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.fizz {
    color: #24A38E;
}

.buzz {
    color: var(--secondary-color);
}

.fizzbuzz {
    color: red;
}